body {
    display: grid;
}

body > h1 {
    display: flex;
    justify-content: center;
}

.gameGrid {
    place-self: center;
    width: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.squares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.squares div {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}