body {
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
    font-family: "Yellowtail", sans-serif;
    display: grid;
    height: 300px;
    width: 100%;
}

body > h1 {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
    color: white;
    display: flex;
    justify-content: center;
}

.gameGrid {
    place-self: center;
    width: 50px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 200px;
}

.squares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin-bottom: 100px;
}

.squares div {
    font-size: 1.8rem;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  height: 50px;
  width: 50px;
}

.displaytext {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}